---
export const prerender = false;
const session = Astro.locals.session ?? null;
const user = Astro.locals.user ?? null;
import { isEmailAdmin } from "../../auth";

const isAdmin = user ? isEmailAdmin(user.email) : false;
---
<html>
  <body>
      <h1 data-is-admin={isAdmin}>dashboard</h1>
      {session && (
      <>
      {isAdmin && (
        <div id="adminWelcome">
            Welcome Dellie!
        </div>
        )}

      {!isAdmin && (
        <div id="adminWelcome">
            User is not allowed, redirecting...
        </div>
      )}
      </>
      )}
    <br>
    <br>
<script>
    if(document.querySelector('h1')?.dataset.isAdmin !== "true"){
        window.location.href = "/"
    }
</script>

  </body>
</html>

