---
import { auth } from "../../auth"; // import your Better Auth instance

import { defineMiddleware } from "astro:middleware";

console.log("IS AUTHED")
export const onRequest = defineMiddleware(async (context, next) => {
  const isAuthed = await auth.api
    .getSession({
      headers: context.request.headers,
        fetchOptions: { credentials: "include" }
    })
  if (context.url.pathname === "/dashboard" && !isAuthed) {
    return context.redirect("/");
  }
  return next();
  });
  const session = Astro.locals.session
  const user = Astro.locals.user
  console.log(session)
---
<html>
  <body>
    Welcome {user}
    <br>
    session {session}
    <br>
    <button id="logout">Sign out</button>
  </body>
<script>
</script>
</html>

