---
export const prerender = false;
const session = Astro.locals.session ?? null;
const user = Astro.locals.user ?? null;
import { auth, isEmailAdmin } from "../../auth"; // import your Better Auth instance

import { defineMiddleware } from "astro:middleware";

---
<html>
  <body>
      <h1 data-isEmailAdmin={isEmailAdmin}>dashboard</h1>
      {session && (
      <>
      {isEmailAdmin && (
        <div id="adminWelcome">
            Welcome Dellie!
        </div>
        )}

      {isEmailAdmin == false && (
        <div id="adminWelcome">
            User is not allowed, redirecting...
        </div>

      )}

      </>
      )}
    <br>
    <br>
<script>
    if(!this.dataset.isEmailAdmin){
        window.location.href = "/"
    }
</script>

  </body>
</html>

