@font-face {
  font-family: "Comic Mono";
  src: url("/fonts/ComicMono.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Comic Mono";
  src: url("/fonts/ComicMono-Bold.ttf") format("truetype");
  font-weight: 700;
}

