@import "tailwindcss";
@import "./fonts.css";

@import "@webtui/css/base.css";
@import "@webtui/css/utils/box.css";

@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/input.css";

@import "@webtui/theme-nord";

/* Correct variable mapping */
:root {
    --terminal-bg: var(--background0, #0a0b0d);
    --terminal-text: var(--foreground, #d0d0d0);
}

@layer utils {
    .header {
        display: flex;
        justify-content: space-between;
    }


    .header span,
    [box-="round"] .header span,
    #tuibox .header span {
        background-color: black;
        padding: 0 1ch;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0 1ch;
    }

    #tuibox {
        --box-border-color: white;
        --box-rounded-radius: 8px;
        --box-border-width: 1px;
        --box-double-border-width: 1px;
    }

    #listbadge {
        --badge-color: #ffffff;
        --badge-text: #000000;
    }
}
