@import "./fonts.css";

@import "@webtui/css/base.css";
@import "@webtui/css/utils/box.css";

@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/input.css";

@import "@webtui/theme-nord";

/* Correct variable mapping */
:root {
  --terminal-bg: var(--background0, #0a0b0d);
  --terminal-text: var(--foreground, #d0d0d0);
}

@layer utils {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header span {
    background-color: var(--background0);
    padding: 0 1ch;
  }

  .tui-box {
    --box-border-color: var(--foreground, #e5e9f0);
  }
}

