---
import BaseLayout from "../layouts/BaseLayout.astro";
import AnthillIsland from "../components/anthill/AntHillIsland.tsx";
---

<BaseLayout title="Home — Astro TS Starter" description="A tiny site to learn Astro">
  <h1 style="margin-top:0">hello there! 👋</h1>
  <p>Welcome to my personal website!</p>
  <ul>
    <li>Learn more about me <a href="/about/">here</a>!</li>
    <li>Check out some of my <a href="/about/">projects</a>!</li>
    <li>For more projects, check out my <a href="https://github.com/delster1">github</a>!</li>
  </ul>

  <hr />

    <button id="login">Login</button>
  <button id="logout">Logout</button>

  <script>
    const { signIn } = await import("../lib/auth-client")
    document.querySelector("#login").onclick = () => signIn()
  </script>
  <h2>interactive island</h2>
  <p class="muted">For now, here's my anthill project!<code>client:idle</code>.</p>
    <AnthillIsland client:load/>
</BaseLayout>

