---
import TerminalLayout from "../layouts/TerminalLayout.astro";
---

<TerminalLayout title="d3llie terminal">
    <div class="text-green-400">
        <span class="text-yellow-300">d3llie@website</span>
        <span class="text-blue-400"> ~ </span>
        <span>$</span>
        &nbsp;./website-tui
    </div>

    <div class="flex justify-center items-center">
        <div box-="round" id="tuibox" title="header" class="">
            <pre
                is:raw
                class="whitespace-pre leading-tight text-terminal-text text-xs text-center">


							 ,`--.' |                                                                                              
    ,---,                ,--,    ,--,                    |   :  :                            .---.                                           ___               
  .'  .' `\            ,--.'|  ,--.'|     ,--,           |   |  '                           /. ./|            ,---,                 ,--,   ,--.'|_             
,---.'     \           |  | :  |  | :   ,--.'|           '   :  |                       .--'.  ' ;          ,---.'|               ,--.'|   |  | :,'            
|   |  .`\  |          :  : '  :  : '   |  |,            ;   |.'.--.--.                /__./ \ : |          |   | :     .--.--.   |  |,    :  : ' :            
:   : |  '  |   ,---.  |  ' |  |  ' |   `--'_       ,---.'---' /  /    '           .--'.  '   \' .   ,---.  :   : :    /  /    '  `--'_  .;__,'  /     ,---.   
|   ' '  ;  :  /     \ '  | |  '  | |   ,' ,'|     /     \    |  :  /`./          /___/ \ |    ' '  /     \ :     |,-.|  :  /`./  ,' ,'| |  |   |     /     \  
'   | ;  .  | /    /  ||  | :  |  | :   '  | |    /    /  |   |  :  ;_            ;   \  \;      : /    /  ||   : '  ||  :  ;_    '  | | :__,'| :    /    /  | 
|   | :  |  '.    ' / |'  : |__'  : |__ |  | :   .    ' / |    \  \    `.          \   ;  `      |.    ' / ||   |  / : \  \    `. |  | :   '  : |__ .    ' / | 
'   : | /  ; '   ;   /||  | '.'|  | '.'|'  : |__ '   ;   /|     `----.   \          .   \    .\  ;'   ;   /|'   : |: |  `----.   \'  : |__ |  | '.'|'   ;   /| 
|   | '` ,/  '   |  / |;  :    ;  :    ;|  | '.'|'   |  / |    /  /`--'  /           \   \   ' \ |'   |  / ||   | '/ : /  /`--'  /|  | '.'|;  :    ;'   |  / | 
;   :  .'    |   :    ||  ,   /|  ,   / ;  :    ;|   :    |   '--'.     /             :   '  |--" |   :    ||   :    |'--'.     / ;  :    ;|  ,   / |   :    | 
|   ,.'       \   \  /  ---`-'  ---`-'  |  ,   /  \   \  /      `--'---'               \   \ ;     \   \  / /    \  /   `--'---'  |  ,   /  ---`-'   \   \  /  
'---'          `----'                    ---`-'    `----'                               '---"       `----'  `-'----'               ---`-'             `----'   

			</pre>
        </div>
    </div>
    <br />
    <div class="flex justify-center items-center">
        <div box-="round" id="tuibox" class="w-[50%]" shear-="top">
            <div class="header text-terminal-text text-center">
                <span>About Me</span>
            </div>
            Hey 👋 I'm Dellie — CS student, nerd, and HackKU Director.<br />
            Welcome to my personal terminal-style website powered by Astro + Tailwind.
        </div>
    </div>
    <br />
    <div class="flex justify-center items-center w-[80%]">
        <div box-="round" id="tuibox" class="w-[25%]">
            <div class="header">
                <span>Check out my:</span>
            </div>
            <div class="links">
                <span is-="badge" id="listbadge">
                    <a href="https://github.com/delster1">Github</a>
                </span>
                <span is-="badge" id="listbadge">
                    <a href="https://www.linkedin.com/in/delroy-wright-440b35210/">LinkedIn</a>
                </span>
                <span is-="badge" id="listbadge">
                    <a href="blog">Blog</a>
                </span>
                <span is-="badge" id="listbadge">
                    Projects
                </span>
            </div>
        </div>
    </div>
</TerminalLayout>
