---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/Counter.tsx"; // React island demo
---

<BaseLayout title="Home — Astro TS Starter" description="A tiny site to learn Astro">
  <h1 style="margin-top:0">hello there! 👋</h1>
  <p>Welcome to my personal website!</p>
  <ul>
    <li>Learn more about me <a href="/about/">here</a>!</li>
    <li>Check out some of my <a href="/about/">projects</a>!</li>
    <li>For more projects, check out my <a href="https://github.com/delster1">github</a>!</li>
  </ul>

  <hr />

  <h2>interactive island</h2>
  <p class="muted">For now, here's my anthill project!<code>client:idle</code>.</p>
  <Counter client:idle />
</BaseLayout>

